<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Contact Application</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
</head>
<body>
<h1 style="text-align: center">Edit User</h1>
<a href="/" class="btn btn-primary btn-sm">Back</a>

<form method="post" th:object="${user}" th:action="@{/edit}">

    <div class="form-group">

        <input type="hidden" class="form-control" th:field="*{id}" placeholder="ID">

    </div>
    <div class="form-group">
        <label for="">Name:</label>
        <input type="text" class="form-control" th:field="*{name}" placeholder="Name">
    </div>
    <div class="form-group">
        <label for="">Contact number:</label>
        <input type="text" class="form-control" th:field="*{contactNumber}" placeholder="#Telephone">
    </div>

    <div class="form-group">
        <label for="">Email:</label>
        <input type="email" th:field="*{email}" class="form-control" placeholder="Email"></input>
    </div>
    <div class="form-group">
        <label for="">Active:</label>
        <select class="form-control" name="active">
            <option th:value="1" >true</option>
            <option th:value="0" >false</option>
        </select>

    </div>

    <button class="btn btn-danger mb-5">Edit</button>
</form>


</body>
</html>