<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Contact Application</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css"
          integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
</head>
<body>
<h1 style="text-align: center">Contact Application</h1>

<form th:action="@{/}" method="get">
    <div>
        <lable>Search for a user</lable>
        <input id="textSearch" type="text" name="keyword" placeholder="Enter the name/email..."/>
        <button class="btn btn-info btn-sm" type="submit">Search</button>
    </div>
</form>
<div></div>



<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Active</th>
        <th scope="col">
            <a href="/add" class="btn btn-primary btn-sm">Add User</a>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${userList}">
        <td th:text="${user.name}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.isActive}"></td>
        <td>
            <a th:href="@{'/edit/' + ${user.id}}" class="btn btn-success btn-sm">Edit</a>
            <a class="btn btn-danger btn-sm">Delete</a>
        </td>
    </tr>


    </tbody>
</table>
</body>
</html>